.fullNav {
    position: sticky;
    top: 0;
    z-index: 100;
    color: aliceblue;
}

.damiText {
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
